<!DOCTYPE html>
<html>
  <head>
    <title>Railsvue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application' %>
  </head>

  <body>
    <div data-behavior="vue">
      <%= render 'shared/navbar' %>
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
